<div class="container login">
  <form class="custom-form" method="post">
    <h1>Registro</h1>
    <div class="control-group form-group">
      <div class="controls">
        <input type="text" [(ngModel)]="registrarNuevoUsuario.username" name="username" placeholder="username" required="required"/>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <input type="email" [(ngModel)]="registrarNuevoUsuario.email" name="email" placeholder="email" required="required"/>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <input type="password" [(ngModel)]="registrarNuevoUsuario.password" name="password" placeholder="contraseña" required="required"/>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <input type="text" [(ngModel)]="registrarNuevoUsuario.code" name="code" placeholder="Introduce tu codigo." required="required"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary boton" (click)="registrar();">Registrate</button>
    <button (click)="irALogin()">Volver al LogIn</button>
  </form>
</div>
